<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="p-cards">
    <mat-card fxLayout="50">
        <mat-card-header>
            <mat-card-title>Call Statistics</mat-card-title>
            <mat-card-subtitle>Emmanuel Gomez</mat-card-subtitle>
          </mat-card-header>
        <app-widget-charts></app-widget-charts>
    </mat-card>

    <mat-card fxFlex="50"><app-widget-card></app-widget-card></mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>
<h2>Your plan</h2>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="p-cards">
    <mat-card fxFlex="40">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th><mat-card-header>
                            <img src="https://i.imgur.com/1gvSCzk.png" alt="soufiane FADIL">
                        </mat-card-header></th>
                    <th><mat-card-subtitle>Leds de primer Contacto</mat-card-subtitle>
                    <mat-card-actions>
                        <mat-icon>contact_phone</mat-icon>
                        <p>15</p>
                        <mat-icon aling="left">announcement</mat-icon>
                        <p>15</p>
                      </mat-card-actions>
                    </th>
            </table>
        </div>
    </mat-card>
    <mat-card fxFlex="40">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th><mat-card-header>
                            <img src="https://i.imgur.com/1gvSCzk.png" alt="soufiane FADIL">
                        </mat-card-header></th>
                    <th><mat-card-subtitle>Leds de ultimo Contacto</mat-card-subtitle>
                    <mat-card-actions>
                        <mat-icon>contact_phone</mat-icon>
                        <p>15</p>
                        <mat-icon aling="left">announcement</mat-icon>
                        <p>15</p>
                      </mat-card-actions>
                    </th>
            </table>
        </div>
    </mat-card>
    <mat-card fxFlex="40">
        <div>
            <table>
                <tbody>
                    <tr>
                        <th><mat-card-header>
                            <img src="https://i.imgur.com/1gvSCzk.png" alt="soufiane FADIL">
                        </mat-card-header></th>
                    <th><mat-card-subtitle>Leds por confirmar cita</mat-card-subtitle>
                    <mat-card-actions>
                        <mat-icon>contact_phone</mat-icon>
                        <p>15</p>
                        <mat-icon aling="left">announcement</mat-icon>
                        <p>15</p>
                      </mat-card-actions>
                    </th>
            </table>
        </div>
    </mat-card>
</div>
<br>

<mat-divider></mat-divider>
<br>

<div>
    <div>Table</div>
    <div>Pie Chart</div>
</div>