<mat-toolbar color="warn">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>
        <span><img src="https://i.imgur.com/5JbEye3.png" alt="soufiane FADIL"></span>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    {{ date | date:'medium' }}
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>